@media screen and (max-width: 1237px) {
    .welcome h2 {
        padding: 15px 0px 25px 0px;
    }

    .welcome .container {
        width: 80%;
    }

    .about__img {
        height: 50vh;
    }

    .gallery img {
        max-height: 40vh;
    }

    .gallery__item {
        width: 50%;
    }

    .history__img {
        height: 55vh;
    }
}

@media screen and (max-width: 1074px) {
    .welcome .container {
        width: 87%;
    }

    .about .leftSide {
        width: 40%;
    }

    .about .rightSide {
        width: 60%;
        padding: 0px 20px 0px 20px;
    }

    .history .container {
        width: 100%;
        padding: 0px 0px 0px 15px;
    }

    .history__img {
        margin: 0px;
        height: 45vh;
    }

    .history h2 {
        font-size: 50px;
    }

    .gallery__item {
        padding: 15px 5px;
    }

    .calendar__toma {
        left: -90px;
    }
}

@media screen and (max-width: 944px) {
    .calendar__alex img, .calendar__toma img {
        height: 150px;
    }

    .calendar__alex {
        right: -10px;
    }

    .calendar__toma {
        left: -15px;
    }
}

@media screen and (max-width: 850px) {
    .welcome .container {
        width: 95%;
    }

    .history h2 {
        font-size: 40px;
        margin: 0px;
    }

    .history p, .history a {
        font-size: 18px;
    }

    .history__img {
        height: 40vh;
    }

    .gallery img {
        max-height: 28vh;
    }

    .calendar__alex {
        top: -35px;
    }
}

@media screen and (max-width: 800px) {
    .welcome .container {
        width: 100%;
    }

    .about .leftSide {
        width: 50%;
    }

    .about .rightSide {
        width: 50%;
        padding: 0px 14px 0px 7px;
    }

    .about__textbox {
        width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .welcome__img {
        height: 60vh;
    }
}

@media screen and (max-width: 694px) {
    .welcome__img {
        height: 50vh;
    }

    .history__img {
        height: 40vh;
    }

    .calendar__timer #timer3bf1db46a47c6649546261485eb83f51 {
        min-width: 270px !important;
    }

    .calendar__timer #timer3bf1db46a47c6649546261485eb83f51 span {
        font-size: 50px !important;
        padding: 0px 3px 0px 3px !important;
    }
}

@media screen and (max-width: 638px) {
    section {
        margin: 0px;
    }

    .welcome__when {
        padding: 15px 0px;
    }

    .about h2 {
        font-size: 22px;
        padding-top: 10px;
    }

    .about span {
        font-size: 55px;
    }

    .about p, .about a {
        font-weight: normal;
    }

    .about .container {
        flex-direction: column;
        padding: 0px;
    }

    .about .leftSide {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about .rightSide {
        width: 100%;
        padding: 0px 7px 0px 7px;
    }

    .about__img {
        width: 100%;
        height: 70vh;
    }

    .about__textbox {
        width: 100%;
    }

    .history {
        padding: 20px 0px;
    }

    .history h2 {
        font-size: 60px;
    }

    .history p, .history a {
        font-size: 20px;
    }

    .history .container {
        flex-direction: column;
        padding: 0px 15px 0px 15px;
    }

    .history .leftSide, .history .rightSide {
        width: 100%;
    }

    .history .rightSide {
        margin-top: 30px;
    }

    .history__img {
        height: 55vh;
    }

    .gallery {
        margin-top: 20px;
    }

    .gallery img {
        max-height: 40vh;
    }

    .gallery__items {
        flex-direction: column;
        justify-content: center;
    }

    .gallery__item {
        width: 100%;
        padding: 15px 0px;
    }

    .calendar__sides {
        flex-direction: column;
        padding: 15px 0px;
    }

    .calendar .rightSide {
        padding: 0px;
    }

    .calendar .rightSide h3 {
        margin: 40px 0px 10px 0px;
    }

    .calendar__timer h2 {
        font-size: 20px;
    }

    .calendar__alex img, .calendar__toma img {
        height: 100px;
    }

    .calendar__alex {
        right: -5px;
    }

    .calendar__toma {
        left: -7px;
    }
}

@media screen and (max-width: 555px) {
    .welcome__img {
        height: 42vh;
    }
}

@media screen and (max-width: 480px) {
    .welcome h1 {
        font-size: 38px;
    }

    .welcome h2 {
        font-size: 50px;
        padding-bottom: 15px;
    }

    .welcome__img {
        height: 40vh;
    }

    .about h2 {
        font-size: 20px;
    }

    .about span {
        font-size: 38px;
    }

    .about p, .about a {
        font-weight: normal;
        font-size: 16px;
    }

    .about__img {
        height: 60vh;
    }

    .history__img {
        height: 40vh;
    }
}

@media screen and (max-width: 450px) {
    .welcome__img {
        height: 33vh;
    }

    .gallery .container {
        width: 100%;
    }

    .gallery img {
        max-height: 30vh;
    }
}

@media screen and (max-width: 384px) {
    .welcome__img {
        height: 30vh;
    }

    .about h2 {
        margin: 0px;
    }

    .about span {
        font-size: 32px;
    }

    .about__img {
        height: 50vh;
    }

    .history h2 {
        font-size: 40px;
    }

    .history h4 {
        font-size: 20px;
    }

    .history p, .history a {
        font-size: 14px;
    }

    .history__img {
        height: 33vh;
    }

    .calendar__alex img, .calendar__toma img {
        height: 90px;
    }

    .calendar__timer #timer3bf1db46a47c6649546261485eb83f51 span {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 334px) {
    .welcome__img {
        height: 25vh;
    }

    .calendar .calendarbox__box {
        width: 250px;
        height: 250px;
    }

    .calendar__timer h2 {
        font-size: 18px;
    }

    .calendar__timer #timer3bf1db46a47c6649546261485eb83f51 span {
        font-size: 32px !important;
    }
}